{% extends 'subLayout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <center>UPDATE LAPORAN OPERASIONAL</center>
                        </h2>
                    </div>
                    <div class="body">
                        <form method="post">
                            <div class="form-group">
                            <p>Kategori</p>
                                <select name="ro_category" id="" class="form-control">
                                    <option value="1" {% if data.RoCategory is defined and not null %}{% if data.RoCategory == 1 %}selected{% endif %}{% endif %}>Operasional</option>
                                    <option value="2" {% if data.RoCategory is defined and not null %}{% if data.RoCategory == 2 %}selected{% endif %}{% endif %}>Kegiatan</option>
                                    <option value="3" {% if data.RoCategory is defined and not null %}{% if data.RoCategory == 3 %}selected{% endif %}{% endif %}>Gaji</option>
                                    <option value="4" {% if data.RoCategory is defined and not null %}{% if data.RoCategory == 4 %}selected{% endif %}{% endif %}>Pengadaan ATK</option>
                                    <option value="5" {% if data.RoCategory is defined and not null %}{% if data.RoCategory == 5 %}selected{% endif %}{% endif %}>refreshment</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <p>Item Pengajuan</p>
                                <div class="form-line">
                                    <input type="text" name="ro_name" class="form-control" value="{% if data.RoName is defined and not null %}{{ data.RoName }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Bulan Pengajuan</p>
                                <select name="ro_month" id="" class="form-control">
                                    <option value="1" {% if data.RoMonth is defined and not null %}{% if data.RoMonth == 1 %}selected{% endif %}{% endif %}>Januari</option>
                                    <option value="2" {% if data.RoMonth is defined and not null %}{% if data.RoMonth == 2 %}selected{% endif %}{% endif %}>Februari</option>
                                    <option value="3" {% if data.RoMonth is defined and not null %}{% if data.RoMonth == 3 %}selected{% endif %}{% endif %}>Maret</option>
                                    <option value="4" {% if data.RoMonth is defined and not null %}{% if data.RoMonth == 4 %}selected{% endif %}{% endif %}>April</option>
                                    <option value="5" {% if data.RoMonth is defined and not null %}{% if data.RoMonth == 5 %}selected{% endif %}{% endif %}>Mei</option>
                                    <option value="6" {% if data.RoMonth is defined and not null %}{% if data.RoMonth == 6 %}selected{% endif %}{% endif %}>Juni</option>
                                    <option value="7" {% if data.RoMonth is defined and not null %}{% if data.RoMonth == 7 %}selected{% endif %}{% endif %}>Juli</option>
                                    <option value="8" {% if data.RoMonth is defined and not null %}{% if data.RoMonth == 8 %}selected{% endif %}{% endif %}>Agustus</option>
                                    <option value="9" {% if data.RoMonth is defined and not null %}{% if data.RoMonth == 9 %}selected{% endif %}{% endif %}>September</option>
                                    <option value="10" {% if data.RoMonth is defined and not null %}{% if data.RoMonth == 10 %}selected{% endif %}{% endif %}>Oktober</option>
                                    <option value="11" {% if data.RoMonth is defined and not null %}{% if data.RoMonth == 11 %}selected{% endif %}{% endif %}>November</option>
                                    <option value="12" {% if data.RoMonth is defined and not null %}{% if data.RoMonth == 12 %}selected{% endif %}{% endif %}>Desember</option>
                                </select>
                                </div>
                           <div class="form-group">
                                <p>Tahun Pengajuan</p>
                                <select name="ro_year" id="" class="form-control">
                                    <option value="1" {% if data.RoYear is defined and not null %}{% if data.RoYear == 1 %}selected{% endif %}{% endif %}>2017</option>
                                    <option value="2" {% if data.RoYear is defined and not null %}{% if data.RoYear == 2 %}selected{% endif %}{% endif %}>2018</option>
                                    <option value="3" {% if data.RoYear is defined and not null %}{% if data.RoYear == 3 %}selected{% endif %}{% endif %}>2019</option>
                                    <option value="4" {% if data.RoYear is defined and not null %}{% if data.RoYear == 4 %}selected{% endif %}{% endif %}>2020</option>
                                    <option value="5" {% if data.RoYear is defined and not null %}{% if data.RoYear == 5 %}selected{% endif %}{% endif %}>2021</option>
                                    <option value="6" {% if data.RoYear is defined and not null %}{% if data.RoYear == 6 %}selected{% endif %}{% endif %}>2022</option>
                                    <option value="7" {% if data.RoYear is defined and not null %}{% if data.RoYear == 7 %}selected{% endif %}{% endif %}>2023</option>
                                    <option value="8" {% if data.RoYear is defined and not null %}{% if data.RoYear == 8 %}selected{% endif %}{% endif %}>2024</option>
                                    <option value="9" {% if data.RoYear is defined and not null %}{% if data.RoYear == 9 %}selected{% endif %}{% endif %}>2025</option>
                                    <option value="10" {% if data.RoYear is defined and not null %}{% if data.RoYear == 10 %}selected{% endif %}{% endif %}>...</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <p>Kuantitas (QTY)</p>
                                <div class="form-line">
                                    <input type="text" name="ro_qty" class="form-control" value="{% if data.RoQty is defined and not null %}{{ data.RoQty }}{% endif %}">
                                </div>
                            </div>
                             <div class="form-group">
                                <p>Harga Satuan (Rp)</p>
                                <div class="form-line">
                                    <input type="text" name="ro_unitprice" class="form-control" value="{% if data.RoUnitprice is defined and not null %}{{ data.RoUnitprice }}{% endif %}">
                                </div>
                            </div>
                             <div class="form-group">
                                <p>Harga Total (Rp)</p>
                                <div class="form-line">
                                    <input type="text" name="ro_total" class="form-control" value="{% if data.RoTotal is defined and not null %}{{ data.RoTotal }}{% endif %}">
                                </div>
                            </div>
                             <div class="form-group">
                                <p>Total Pengajuan</p>
                                <div class="form-line">
                                    <input type="text" name="ro_total" class="form-control" value="{% if data.RoTotal is defined and not null %}{{ data.RoTotal }}{% endif %}">
                                </div>
                            </div>
                            <button class="btn btn-primary waves-effect">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}